<form action="/login" method="post">
    <input placeholder="username" type="text" name="username" id="">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Submit</button>
</form>