<form action="/signup" method="post">
    <input type="text" name="newClub[username]" placeholder="Name"id="">
    <input type="text" name="newClub[email]"  placeholer="email" id="">
    <input type="text" name="newClub[logo]" id="" placeholder="logo url">
    <textarea name="newClub[abstract]" id="" cols="30" rows="10">Abstract</textarea>
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">SUBMIT</button>
</form>