<form action="/events/new" method="post">
    <input type="text" name="name" placeholder="event name" id="">
    <input type="text" name="club" placeholder="club name" id="">
    <input type="datetime-local" name="date" id="">
    <input type="number" name="fees" placeholder="fees" id="">
    <input type="checkbox" name="OD" value="true" id="">
    <textarea name="abstract" id="" cols="30" rows="10"></textarea>
    <input type="number" name="prize" id="" placeholder="prize-mone">
    <button type="submit">SUBMIT</button>
</form>

